@model Review

@{
    ViewData["Title"] = "Leave Review";
}

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        @{Game book = (Game)ViewBag.Book;}
            <div class="card" style="width: 12rem;">
            </div>
    </div>
    <div class="col-md-4">
        <form asp-action="LeaveReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GameId" />
            <input type="hidden" asp-for="OwnerId" />
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
