@{
    ViewData["Title"] = "Password Reset Confirmation";
}

<h2>Password Reset Confirmation</h2>
<p>
    Your password has been reset. To log in to the app, follow the <a asp-action="Login">link</a>.
</p>